body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.profile-card{
    background-color: beige;
    max-width: 300px;
    margin: auto;
    border-radius: 12px;
    text-align: center;
    box-sizing: border-box; 
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.3)
}
.profile-img{
    background-color: aqua;
    border-radius: 950%
}
h2{
    margin: 10px;
}
.title{
    color: blue;
    font-size: 20px;
    margin-bottom: 20px;
}
button{
    background-color: blue;
    color: white;
    padding: 10px 16px;
    text-align: center;
    cursor: pointer;
    margin-top: 8px;
    transition: 0.3s;
    width: 100%;
}
button:hover{
    opacity: 0.6;
}
.p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
